<!DOCTYPE html>
<html>
<head>
<title>Lie</title>
<style>
body{margin:0;background:black;color:white;font-family:monospace;overflow:hidden}
canvas{position:fixed;top:0;left:0}

.box{position:relative;z-index:2;text-align:center;margin-top:100px}

input,button{padding:10px}
button{background:lime;border:none}
</style>
</head>

<body>

<canvas id="m"></canvas>

<div class="box">

<h2 style="color:cyan">LIE DETECTOR</h2>

<input id="i">
<button onclick="check()">CHECK</button>

<div id="t">Waiting...</div>

<br><br>
<a href="/" style="color:lime">BACK</a>

</div>

<script>
function check(){
fetch("/lie_text",{
method:"POST",
headers:{"Content-Type":"application/json"},
body:JSON.stringify({text:document.getElementById("i").value})
})
.then(r=>r.json())
.then(d=>{
document.getElementById("t").innerText=d.label+" ("+d.score+"%)";
document.getElementById("t").style.color=d.color;
});
}

// matrix
const c=document.getElementById("m");
const ctx=c.getContext("2d");
c.width=innerWidth;c.height=innerHeight;

let a="01".split("");
let s=14;
let col=c.width/s;
let d=[];
for(let i=0;i<col;i++)d[i]=1;

setInterval(()=>{
ctx.fillStyle="rgba(0,0,0,0.05)";
ctx.fillRect(0,0,c.width,c.height);
ctx.fillStyle="#0f0";
ctx.font=s+"px monospace";

for(let i=0;i<d.length;i++){
let t=a[Math.floor(Math.random()*2)];
ctx.fillText(t,i*s,d[i]*s);
if(d[i]*s>c.height)d[i]=0;
d[i]++;
}
},33);
</script>

</body>
</html>